{% extends 'base.html' %}


{% block head %}
    <link rel="stylesheet" href="/static/Style/style-register.css">
{% endblock %}

{% block navbar %}

{% endblock %}

{% block content %}
    <div class="container d-flex justify-content-center align-items-center">

        <!-- Login Container -->

        <div class="row box-area">

            <!-- Left Box -->

            <form method="POST" class="col broder rounded-5 p-3 bg-white shadow" style="background: #ffffff;"
                  novalidate>
                <div class="featured-image text-center">
                    <img src="/static/Image/fakeface.jpg" class="img-fluid" style="width: 250px;">
                </div>
                <dic class="row align-items-center">
                    <div class="form-title mp-3">Tạo tài khoản mới</div>
                    <div class="form-subtitle mp-3">Nhanh chóng và dễ dàng.</div>
                    <div class="text-success">
                        <hr>
                    </div>
                    <div class="input-group mp-3">
                        <input name="name" type="text" class="form-control form-control-lg fs-6"
                               placeholder="Tên hiển thị"
                               id="name" value="{{ form_data.get('name', '') }}">
                    </div>
                    <div class="input-group mp-3">
                        <input name="username" type="text" class="form-control form-control-lg fs-6"
                               placeholder="Tên đăng nhập"
                               id="username" value="{{ form_data.get('username', '') }}">
                    </div>

                    <!-- ngày tháng -->
                    <div class="mb-3">
                        <label>Ngày sinh <i class="error-icon" data-bs-toggle="tooltip"
                                            title="Chọn ngày sinh của bạn."></i></label>
                        <input type="date" name="dob" class="form-control fs-6"
                               value="{{ form_data['dob'] if form_data and 'dob' in form_data else '' }}"/>
                    </div>
                    <!-- giới tính -->
                    <div class="mb-3">
                        <label>Giới tính <i class="error-icon" data-bs-toggle="tooltip"
                                            title="Chọn giới tính của bạn."></i></label>
                        <div class="d-flex justify-content-between">
                            <div class="custom-radio">
                                <input type="radio" name="gender" id="female"
                                       value="Female" {{ 'checked' if form_data.get('gender') == 'Female' else '' }}>
                                <label for="female">Nữ</label>
                            </div>
                            <div class="custom-radio">
                                <input type="radio" name="gender" id="male"
                                       value="Male" {{ 'checked' if form_data.get('gender') == 'Male' else '' }}>
                                <label for="male">Nam</label>
                            </div>
                            <div class="custom-radio">
                                <input type="radio" name="gender" id="other"
                                       value="Other" {{ 'checked' if form_data.get('gender') == 'Other' else '' }}>
                                <label for="other">Khác</label>
                            </div>
                        </div>
                    </div>
                    <!-- email -->
                    <div class="mb-3">
                        <input name="email" type="email" class="form-control" placeholder="Email"
                               id="email" value="{{ form_data.get('email', '') }}">
                    </div>

                    <!-- Mật khẩu mới -->
                    <div class="mb-3">
                        <input name="password" type="password" class="form-control" placeholder="Tạo mật khẩu"
                               id="password">
                    </div>

                    <!-- Mật khẩu mới -->
                    <div class="mb-3">
                        <input name="re-password" type="password" class="form-control" placeholder="Xác nhận mật khẩu"
                               id="re-password">
                    </div>

                    <!-- Message -->
                    <div class="text-danger mb-3">
                        {% if errors %}
                            <ul>
                                {% for field, message in errors.items() %}
                                    <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <div class="input-group mp-3">
                        <button type="submit" class="btn btn-lg btn-success w-100 fs-6">Đăng ký</button>
                    </div>
                    <div class="input-group mp-3 text-center">
                        <a href="/login" class="w-100 fs-6 text-decoration-none">Đã có tài khoản? Đăng nhập</a>
                    </div>
                </dic>
            </form>

        </div>
    </div>


{% endblock %}